.footer{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.footer_wrap > p{
    padding: 0 0 28px 0;
}

.footer_gnb{
    height: 70px;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    margin: 0 0 30px 0;
}

.footer_left{
    float: left;
    display: inline-block;
}

.footer_left > ul > li{
    line-height: 28px;
    float: left;
    margin-left: 30px;
}

.footer_left > ul > li:nth-child(1){margin:0;}

.footer_right{
    line-height: 28px;
    display: inline-block;
    float: right;
}

.footer_left > ul >li >a{
    color: #fff;
}

.footer_right > a > img{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    vertical-align: middle;
}

.footer_select{
    background: transparent;
    border:none;
    color: #fff;
    cursor: pointer;
}

.footer_select > option{
    color: #000;
}

.address > p{
    line-height: 20px;
}